.landing-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #f4f5f6;
  overflow: hidden;
}

.landing-container {
  display: flex;
  height: 100%;
}

/* Left Section (Logo + Image) */
.left-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  font-size: 22px;
  font-weight: 400;
  color: black;
}

.image-container {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
}

.landing-image {
  width: 680px;
  height: 714px;
  border-radius: 30px;
  object-fit: cover;
}

/* Right Section (Content) */
.right-section {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 100px 110px;
}

.content-container {
  width: 100%;
}

.content {
  max-width: 100%;
  text-align: left;
  margin-top: 190px;
}

.greet {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 150%;
  text-align: left;
}

.greet span {
  background: -webkit-linear-gradient(16deg, #74b9ff, #ff7675, #f9ca24);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: waveAnimation 3s ease-in-out infinite;
}

.greet-subtext {
  font-size: 35px;
  color: #9f9f9f;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 120px;
  line-height: 150%;
  text-align: left;
}

.auth-buttons {
  display: flex;
  gap: 20px;
  margin-top: 100px;
}

.auth-buttons button {
  padding: 14px 44px;
  font-size: 22px;
  cursor: pointer;
  border: none;
  border-radius: 99px;
  transition: background 0.4s ease, transform 0.2s ease, box-shadow 0.4s ease;
}

.auth-buttons .log-in {
  background-color: black;
  color: white;
}

.auth-buttons .log-in:hover {
  background-color: #555;
  transform: translateY(-4px);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

.auth-buttons .sign-up {
  background-color: transparent;
  color: black;
  border: 1.5px solid black;
}

.auth-buttons .sign-up:hover {
  background-color: black;
  color: white;
  transform: translateY(-4px);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

@keyframes waveAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
