.sidebar {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ebeced;
  padding: 25px 15px;
  font-size: 17px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: translateX(10px);
}

.sidebar .new-chat {
  margin-top: 50px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: black;
  border-radius: 50px;
  font-size: 17px;
  color: white; /* Ensure text color contrasts with the background */
  cursor: pointer;
}

.sidebar .new-chat img {
  filter: invert(1) brightness(1000%);
  width: 20px;
  height: auto;
}

.sidebar .recent {
  display: flex;
  flex-direction: column;
  animation: fadeIn 1.5s;
}

.sidebar .recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 4px;
}

.sidebar .recent-entry {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-right: 50px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
  position: relative;
}

.sidebar .recent-entry .remove-icon {
  width: 20px;
  position: absolute;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}

.sidebar .recent-entry:hover {
  background-color: #e2e6eb;
}

.sidebar .bottom {
  display: flex;
  justify-content: center; /* Center the icon horizontally */
  align-items: center;
}

.sidebar .bottom-item {
  padding-right: 10px;
  cursor: pointer;
}

.sidebar .bottom-item p {
  color: #ff6f61;
  font-weight: 300;
}

.new-chat p {
  color: white;
}

.trash-icon {
  border-radius: 50px;
  width: 24px;
  height: auto;
  cursor: pointer;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
